@import './base.css';
@import './fonts/index.css';

html * {
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body, #app {
  height: 100%;
}

body, #app {
  background-color: #F9F7F0;
}

body {
  overflow: hidden;
}

